<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{title}}</title>

<link rel="preconnect" href="https://fonts.wiese2.org" />
<link rel="stylesheet" href="https://fonts.wiese2.org/cdn/cache/Nunito/400:700:900/400:700:900" />

<link rel="stylesheet" href="/css/default.css" />