* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(247, 250, 252);
    min-height: 100vh;
    min-width: 100vh;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

#not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: rgb(160, 174, 192);
}

#not-found > span:nth-child(1) {
    letter-spacing: 1px;
    border-right: 1px solid rgb(203, 213, 224);
    padding: 0 16px;
}

#not-found > span:nth-child(2) {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 16px;
}

#page {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

img {
    max-width: 100%;
}

pre, code {
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono", "Roboto Mono", Menlo, Monaco, Consolas, monospace;
    font-size: 13px;
    line-height: 17px;
    background: rgb(246, 246, 246);
}

pre {
    padding: 5px;
}

code {
    padding: 1px 5px;
}

pre code {
    padding: 0px;
}