{
    "title": "Something went wrong",
    "_seo": {
        "title": "Something went wrong",
        "description": "Something went wrong"
    }
}
---
<div id="not-found">
    <span>500</span><span>Something went wrong</span>
</div>