{
    "title": "Admin Panel",
    "_seo": {
        "title": "Admin Panel",
        "description": "MdCMS Admin Panel"
    }
}
---
<h2>Admin Panel</h2>
<p>Welcome to the Admin Panel, <a href="admin?/logout">Log me out</a>.</p>
<hr>
<h3>Change Login details</h3>
<form action="admin?/doConfigLogin" method="post">
    <div class="alert alert-success {{l_success}}">Successfully updated Username / Password</div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="admin" value="{{username}}" required />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="password" required />
    </div>
    <button type="submit">Update</button>
</form>
<hr>
<div class="alert hide" id="cacheMessage"></div>
<button type="button" id="clearCache">Clear Cache</button>