html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Roboto", "Noto Sans", "Droid Sans", sans-serif;
    font-size: 15px;
    color: #242729;
    line-height: 22.5px;
}

input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Roboto", "Noto Sans", "Droid Sans", sans-serif;
    font-size: 15px;
    min-width: 120px;
    height: 41px;
    padding: 12px 12px;
    border-radius: 2px;
    border: 1px solid #bbb;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    outline: none !important;
}

button {
    padding: 12px 12px;
    font-size: 14px;
    color: #fff;
    background-color: #797979;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 250ms;
}

button:hover,
button:focus {
    background-color: #676767;
}

#panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #d5d4d4;
    border-radius: 3px;
    box-shadow: 5px 5px 25px -7px rgba(0, 0, 0, 0.4);
    width: 280px;
    max-width: 100%;
}

#panel > div {
    padding: 30px;
}

#panel .gray-box {
    background: #f5f5f5;
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono", "Roboto Mono", Menlo, Monaco, Consolas, monospace;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 15px 30px;
    color: #717171;
}

#panel .gray-box a {
    color: #6f95e1;
}

#panel img {
    display: block;
    margin: auto auto 30px;
}

#panel input {
    display: block;
    margin: 9px 0 15px;
    width: 100%;
}

#panel button {
    display: block;
    width: 100%;
}

.hide {
    display: none;
}

.alert {
    color: #fff;
    background-color: #a6a6a6;
    padding: 11px;
    margin-bottom: 18px;
    border-radius: 2px;
}

.alert.alert-error {
    background-color: #c83c3c;
}

.alert.alert-success {
    background-color: #51c83c;
}

a {
    color: #3c6bc8;
}

hr {
    border: none;
    border-top: 1px solid #c8c8c8;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
}

label {
    display: block;
    width: 85px;
    line-height: 41px;
}